body{
    margin:0;
    background: hotpink;
    font-family:monospace;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.editor{
    width:700px;
    background:white;
    border:1px solid #888;
    box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.titlebar{
    background:#efefef;
    padding:8px 12px;
    border-bottom:1px solid #bbb;
    font-weight:bold;
}

.menubar{
    padding:6px 12px;
    border-bottom:1px solid #ddd;
}

.document{
    padding:20px;
    min-height:400px;
    white-space:pre-wrap;
    line-height:1.6;
}
